<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "base.html" %}
    {% block content %}
    <nav class="mb-3">
        {% if user.is_authenticated %}
            <form action="{% url 'reservation:logout' %}" method="post">
                {% csrf_token %}
                <button class="btn btn-primary btn-sm" type="submit">Log Out</button>
            </form>
        {% endif %}
    </nav>
    
    <b2>Welcome to homepage {{ user }}<b2>
    {% endblock %}
</body>
</html>
